@import url('https://fonts.cdnfonts.com/css/bl-melody');

@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width:1024px) {
  .custom-width {
    width: calc(101% + 87px);
}
}
@media (max-width:767px) {
  .custom-width {
    width: calc(101% + 90px);
}
}
@media (max-width:488px) {
  .custom-width {
    width: calc(101% + 46px);
}
}
